body {
    margin: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#blocker {
    background-color: #00000033;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}